*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  color: #0e0e0e;
}

.container {
  width: 1280px;
  margin: 0 auto;
}
/* Nav stytle */
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
}
.nav-title{
    font-size: 32px;
    font-weight: 700;
}
.sign-in-btn{
    padding: 12px 24px;
    border: 1px solid #006A50;
    border-radius: 8px;
    background-color: transparent;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.sign-in-btn:hover {
  background-color: #006a50;
  color: white;
  transition: 0.3s;
}

/* banner style */
.banner-container{
    display: flex;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 60px;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    width: 60%;
}
.banner-subtitle{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
    margin-bottom: 16px;
}

.banner-title{
    font-size: 56px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 24px;
}
/* shared btn */
.primary-btn{
    border: none;
    padding: 17px 34px;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.primary-btn:hover {
  background-color: #004d3a;
  transform: translateY(-2px);
  transition: 0.3s;
}

.banner-image{
    width: 40%;
    text-align: right;
}

/* shared title */

.section-title {
  font-size: 40px;
  font-weight: 700;
  color: 0E0E0E;
  margin-top: 80px;
  margin-bottom: 32px;
}

/* pillers section style */

.piller-card-container{
    display: flex;
    gap: 24px;
}
.piller-card{
    background-color: white;
    border-color: rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
    width: 25%;
}
.piller-card img{
    width: 64px;
    margin-bottom: 24px;
    
}
.piller-card h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.piller-card p{
    font-size: 16px;
    line-height: 1.2;
    color: rgba(14, 14, 14, 0.7);

}


/* vission style section */

.vision-card-container{
    display: flex;
    gap: 24px;
}
.section-description {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

.vision-card-blue{
    background-color: rgba(84, 144, 245, 0.2);
    border-color: #5490F5;
    border-radius: 16px;
    padding: 24px;
    
}
.vision-card-green{
    background-color: rgba(198, 228, 214, 1);
    border-color: #09A15C;
    border-radius: 16px;
    padding: 24px;
    
}
.vision-card-yellow{
    background-color: rgba(247, 235, 207, 1);
    border-color: #5490F5;
    border-radius: 16px;
    padding: 24px;
    
}
 .vision-card-container img{
    width: 64px;
    margin-bottom: 24px;
    
}
.vision-card-container h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.vision-card-container p{
    font-size: 16px;
    line-height: 1.2;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;

} 

.vision-card-container button{

    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.vision-card-container button:hover {
  opacity: 0.85;
  transform: translateY(-2px);
  transition: 0.3s;
}
.vision-card-blue button{
    background-color: #5490F5;
}
.vision-card-green button{
    background-color: #09A15C;
}
.vision-card-yellow button{
    background-color: #FFC239;
}

.vision-card-blue:hover {
  transform: translateY(-6px);
  transition: 0.3s;
}
.vision-card-green:hover {
  transform: translateY(-6px);
  transition: 0.3s;
}
.vision-card-yellow:hover {
  transform: translateY(-6px);
  transition: 0.3s;
}


/* Quote style */
.quote-section-container{
  margin-top: 32px;
}

.quote-card {
  background-color: white;
  border-radius: 16px;
  padding: 48px 32px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background-image: url("asset/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 32px 24px;
}

.quote-text {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 18px;
}
.quote-author {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.quote-designation {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.6);
}

/* Opinion style section */

.opinion-box {
  background-color: white;
  border-radius: 16px;
  padding: 32px;
}
.opinion-header {
  display: flex;
  justify-content: space-between;
  background-color: #c6e4d6;
  padding: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.opinion-header h3 {
  font-size: 20px;
  font-weight: 700;
}

.opinion-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-left: 1px solid rgba(14, 14, 14, 0.15);
  border-right: 1px solid rgba(14, 14, 14, 0.15);
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
}
.opinion-row p {
  width: 70%;
  font-size: 16px;
  font-weight: 600;
  color: #0e0e0e;
}

.opinion-row select {
  width: 200px;
  padding: 12px 16px;
  border: 1px solid #006a50;
  border-radius: 4px;
  background-color: #c6e4d6;
  color: #0e0e0e;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}